label, input {
    display: block;
}

body {
    background-color: #fcfbfb;
}

.update {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}